#ticket-booking-layout {
    text-align: center;
}
#ticket-booking-layout h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    padding: 30px 90px;
    border: 1px solid #111;
    margin: 0 0 50px;
    display: inline-block;
    font-family: 'Sweetest goods celesse', sans-serif;
}
#table-grid {
    display: grid;
    gap: 10px;
    justify-items: center;
    max-width: 830px;
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
}
.table_booking_grid .table h5,
.table_booking_grid .table p {
    margin: 0;
}
.table_booking_grid .table {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
}
.table_booking_grid .table.table-sold p {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
.table_booking_grid .table p {
    font-size: 27px;
    line-height: 1;
    font-family: 'Sweetest goods celesse', sans-serif;
}
.table_booking_grid .table p span {
    display: block;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
.table_booking_grid .table-sold {
    background: #3D3D3D;
    cursor: not-allowed;
}
.table-available.table-full,
.plan_key .full .plan_color {
    background: #8CAF7D;
}
.table-available.table-half,
.plan_key .half .plan_color {
    background: #B3A065;
}
.table-available.table-individual,
.plan_key .individual .plan_color {
    background: #C1C1C1;
    color: #000000;
}
.table_plan_key h4 {
    margin: 0;
    font-size: 28px;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Sweetest goods celesse', sans-serif;
}
.table_plan_key {
    padding-top: 50px;
}
.plan_key .plan_color {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.plan_key .booked .plan_color {
    background: #464646;
}
.plan_key .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.plan_key .plan h5 {
    margin: 0;
    color: #000;
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
.plan_key {
    display: flex;
    gap: 32px;
    justify-content: center;
    max-width: 356px;
    margin: auto;
}

#booking-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: #3f3f3fcc;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
#booking-popup #booking-form {
    background: #fff;
    padding: 40px;
    width: 320px;
    height: 288px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#booking-popup button#close-popup {
    background: #A5A5A5;
    border: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: -12px;
    padding: 0;
    cursor: pointer;
}
#booking-popup h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
    margin-bottom: 32px;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
#booking-popup p,
#booking-popup label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    margin: 0;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
#booking-popup p#popup-seat-capacity,
#booking-popup label {
    margin-bottom: 16px;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
#booking-popup #continue-to-payment {
    margin-top: 32px;
    width: 100%;
    text-align: center;
    background: #000000;
    border: 0;
    padding: 12px;
    border-radius: 0;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Graphite geometos soft extra', sans-serif;
    cursor: pointer;
}
#booking-popup .input_option {
    display: inline-flex;
    border: 1px solid #DACFB3;
    padding: 8px;
    border-radius: 4px;
}
#booking-popup .input_option button {
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    background: none;
    cursor: pointer;
}
#booking-popup .input_option input {
    width: 24px;
    padding: 0;
    text-align: center;
    border: none;
    font-weight: 800;
}
#booking-popup button#close-popup i {
    color: #fff;
    line-height: 24px;
}
#seat-quantity-wrapper {
    margin-bottom: 16px;
}
.chackout_page {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.payment_summary {
    width: 530px;
}
.payemnt_info, .billing_info, .payment_summary {
    background: #fff;
    padding: 40px 32px;
    margin-bottom: 32px;
    border-radius: 30px;
    border: 1px solid #BBA14E;
}
.chackout_page h3 {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Graphite geometos soft extra', sans-serif;
    margin-bottom: 32px;
}
#stripe-payment label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}
#card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}
#card-element.focused {
    border-color: #BBA14E;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#card-errors {
    color: #fa755a;
    margin-top: 10px;
}
.billing_info input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.full_name {
    display: flex;
    gap: 24px;
}
.full_name div {
    width: 100%;
}
.billing_info label {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 8px;
    display: block;
}
#checkout-form {
    width: 100%;
}
.payment_summary h3 {
    padding-bottom: 32px;
    text-align: center;
    border-bottom: 1px solid #DACFB3;
}
#payment-details h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1;
}
.table_plan, .vat_percentage, .total_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
#payment-details p {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
}
#payment-details p.amount {
    font-size: 20px;
    font-family: 'Graphite geometos soft extra', sans-serif;
}
.total_price {
    padding-top: 32px;
    border-top: 1px dashed #DACFB3;
}
#payment-details .total_price .total_amount {
    font-weight: 700;
    font-size: 18px;
}
#payment-details button {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 14px 12px;
    border: 0;
    text-transform: uppercase;
    font-family: 'Graphite geometos soft extra', sans-serif;
    cursor: pointer;
}
#error_massage p {
    padding: 10px;
    background: #fff;
    margin-bottom: 30px;
    border-left: 4px solid red;
    color: red;
}
.payment-success {
    padding: 50px;
    max-width: 590px;
    margin: auto;
    border: 1px solid #DACFB3;
    border-radius: 8px;
}
.payment-success i {
    font-size: 40px;
    color: #BBA14E;
    margin-bottom: 24px;
}
.payment-success h2 {
    font-size: 32px;
    font-family: 'Graphite geometos soft extra', sans-serif;
    margin-bottom: 16px;
    line-height: 1;
}
.payment-success h4 {
    font-size: 24px;
    font-family: 'Graphite geometos soft extra', sans-serif;
    margin-bottom: 32px;
    line-height: 1;
}
.payment-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.payment-details p {
    font-size: 16px;
    line-height: 24px;
}
.payment-details {
    padding-top: 32px;
    border-top: 1px solid #DEDEDE;
}
.send_mail {
    margin-top: 32px;
}
@media screen and (max-width: 1020px) {
    #table-grid {
        max-width: 640px;
    }
    .table_booking_grid .table {
        height: 40px;
        width: 40px;
    }
    .table_booking_grid .table p {
        font-size: 16px;
    }
    .table_booking_grid .table.table-sold p {
        font-size: 9px;
    }
    .plan_key .plan_color {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 767px) {
    #table-grid {
        max-width: 350px;
        gap: 2px;
    }
    .table_booking_grid .table {
        height: 20px;
        width: 20px;
    }
    .table_booking_grid .table p {
        font-size: 9px;
    }
    .table_booking_grid .table.table-sold p {
        font-size: 5px;
    }
    .table_booking_grid .table p span{
        font-size: 2px;
    }
    .plan_key .plan_color {
        width: 20px;
        height: 20px;
    }
    .plan_key {
        gap: 5px;
        max-width: 320px;
    }
    .chackout_page {
        display: block;
    }
    .payment_summary {
        width: 100%;
    }
    .payment-success {
        padding: 30px;
    }
}